<html>
      <head>
        <meta name="pdfkit-page-size" content="Legal"/>
        <meta name="pdfkit-orientation" content="Landscape"/>
      </head>
      <body style="align-items: center;">  
        
        <div style="align-content: center;">
          <h2>Test Reports Qrvey</h2>
        </div>
        <div>
          <h3>Name Developer: {{ value }}</h3>
          <p>
            The idea is to develop an API that allows to store data from JSON and download those data
            as reports. Assuming you are building the backend for a Report application, Design and
            build an API that can serve all use-cases mentioned below. You don’t need to build the UI
            for this application, j ust build the backend APIs for all the functionality the UI would need. If
            there i s some functionality that would be better i mplemented on the UI side, add a note i n
            your response why i t should be part of UI and not backend
          </p>
        </div>
      </body>            
</html>
